// !Don't Use SCSS or SASS Variables, use the CSS Variables insted

:root {
  --primary-color: hsl(0deg, 0%, 100%);
  --secondary-color: hsl(0deg, 0%, 51%);
  --faded-color: hsl(0deg, 0%, 66%);
  --background-color: hsl(270deg, 4%, 9%);
}
