@use "../abstract/" as *;

.component-container {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  padding: rem(20);
  border-radius: rem(16);
  overflow: hidden;

  box-shadow: 0 0 rem(3.7) rgba(0, 0, 0, 16%), 0 0 rem(9.7) rgba(0, 0, 0, 12%),
    0 0 rem(17.2) rgba(0, 0, 0, 10.8%), 0 0 rem(27.9) rgba(0, 0, 0, 9.8%),
    0 0 rem(42.6) rgba(0, 0, 0, 8.8%), 0 0 rem(64.5) rgba(0, 0, 0, 7.4%),
    0 0 rem(127) rgba(0, 0, 0, 5.3%);

  inline-size: 100%;

  @include breakpoint(large) {
    flex-direction: row;

    inline-size: 100%;
    max-inline-size: 100%;
    block-size: 100%;
  }
}

.component-img {
  inline-size: 100%;

  margin-block-end: rem(16);

  border-radius: rem(16);
  @include breakpoint(large) {
    inline-size: 100%;
  }
}

.component-text-wrapper {
  @include breakpoint(large) {
    display: flex;
    flex-wrap: wrap;
    inline-size: 100%;
  }
}

.component-title {
  margin-block: rem(16);
  @include breakpoint(large) {
    margin: 0;
  }
}

.component-title,
.btn-container {
  inline-size: 100%;
}

.component-paragraph {
  inline-size: 95%;
  margin-block-end: rem(30);
  @include breakpoint(large) {
    margin: 0;
  }
}

.component-btn {
  padding: rem(10) rem(36);
  border: none;
  border-radius: rem(10);

  background-color: var(--accent-color);
  outline: none;
  @include breakpoint(large) {
    margin-block-start: rem(24);
  }
}

.component-btn--invert {
  border: rem(1) solid var(--accent-color);

  color: var(--accent-color);

  background-color: hsl(0deg, 0%, 100%);
}
