@use "../abstract/" as * ;


.type-btn{
  &:hover {
    color: hsl(0deg, 0%, 100%);
    font-weight: 600;

    background-color: var(--faded-accent-color);
  }

  &--active {
    color: hsl(0deg, 0%, 100%);
    font-weight: 600;

    background-color: var(--accent-color);
  }
}