@use "../abstract" as *;

.skill {
  display: flex;
  align-items: center;

  justify-content: space-between;
  inline-size: 100%;

  block-size: rem(10);
}

.skill_label {
  inline-size: 5%;
}

.skill__progress {
  inline-size: 70%;
}
