@use "../abstract" as *;

.skill {
  display: flex;

  align-items: center;
  justify-content: space-between;
  inline-size: 100%;

  block-size: 100%;
}

.skill_label {
  inline-size: 5%;
}

.skill__progress {
  padding: rem(4);
  border: none;
  border-radius: rem(16);

  outline: none;
  inline-size: 70%;
  block-size: rem(20);

  &::-moz-progress-bar {
    padding: rem(4);
    border: none;
    border-radius: rem(16);

    background-color: var(--accent-color);
    outline: none;
    block-size: rem(10);
  }
}

.skills .component-text-wrapper {
  flex-wrap: nowrap;
}
