@use "../abstract" as *;
@use "sass:string";

$positions: flex-start, flex-end, center, space-around, space-between,
  space-evenly;

@each $position in $positions {
  .align-items {
    &-#{$position} {
      align-items: $position;
    }
  }

  .justify-content {
    &-#{$position} {
      justify-content: $position;
    }
  }

  .align-content {
    &-#{$position} {
      align-content: $position;
    }
  }
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-wrap {
  flex-wrap: wrap;
}
