// !Don't Use SCSS or SASS Variables, use the CSS Variables instead

:root {
  --primary-text: hsl(0deg, 0%, 31%); // #4F4F4F
  --secondary-text: hsl(0deg, 0%, 51%); // #828282
  --tertiary-text: hsl(0deg, 0%, 20%); // #333333
  --accent-color: rgb(237, 83, 49); // #2F80ED
  --faded-accent-color: rgb(180, 141, 44); // #2F80ED
}
