@use "../utility";

body {
  font-weight: 600;

  /* Extend `.$font` in utility/_fonts.scss */
  font-family: utility.$font-poppins;
}

h1,
h2,
h3 {
  margin-block-start: 0;

  font-weight: 700;
  line-height: 1.1;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

h4 {
  margin-block: 0;
  margin-inline: 0;
}

/* ******************* *\
#Main Typography
\* ******************* */
.sub-title {
  color: var(--accent-color);
  font-weight: 500;
  font-size: utility.rem(12);
  @include utility.breakpoint(medium) {
    font-size: utility.rem(14);
  }
  @include utility.breakpoint(large) {
    font-size: utility.rem(16);
  }
  @include utility.breakpoint(x-large) {
    font-size: utility.rem(18);
  }
}

.big-title,
.another-title,
.section__title {
  color: var(--primary-text);
  font-weight: 500;
  font-size: utility.rem(24);
  line-height: utility.rem(36);
  @include utility.breakpoint(medium) {
    font-size: utility.rem(30);
    line-height: utility.rem(50);
  }
  @include utility.breakpoint(large) {
    font-size: utility.rem(36);
    line-height: utility.rem(60);
  }
  @include utility.breakpoint(x-large) {
    font-size: utility.rem(48);
    line-height: utility.rem(72);
  }
}

.main-paragraph {
  font-weight: 400;
  font-size: utility.rem(12);
  line-height: utility.rem(18);
  @include utility.breakpoint(medium) {
    font-size: utility.rem(14);
  }
  @include utility.breakpoint(large) {
    font-size: utility.rem(16);
  }
  @include utility.breakpoint(x-large) {
    font-size: utility.rem(18);
  }
}

.contact-you__title {
  color: var(--btn-text);
  font-weight: 500;
  font-size: utility.rem(10);
  @include utility.breakpoint(medium) {
    font-size: utility.rem(12);
  }
}

.contact-you__input {
  &:placeholder-shown {
    color: var(--btn-text);
    font-weight: 500;
    font-size: utility.rem(14);
  }
}

.contact-you__mini-btn {
  color: var(--white-color);
}

/* ******************* *\
#Main Typography End
\* ******************* */

/* ******************* *\
#Services Typography
\* ******************* */
.section__title {
  @include utility.breakpoint(large) {
    font-size: utility.rem(36);
    line-height: utility.rem(54);
  }
}

.card__icon {
  color: var(--white-color);
  font-size: utility.rem(40);
}

.card__title {
  font-weight: 700;
  font-size: utility.rem(24);
}

.card__paragraph {
  font-weight: 400;
  font-size: utility.rem(16);
  line-height: utility.rem(24);
}

.card__btn {
  color: var(--btn-text);
  font-weight: 500;
  font-size: utility.rem(16);
}

/* ******************* *\
#Services Typography End
\* ******************* */

/* ******************* *\
#Menu Typography
\* ******************* */
.logo a {
  color: var(--primary-text);
  font-weight: 800;
  font-size: utility.rem(24);
  font-family: utility.$font-heebo;
  @include utility.breakpoint(medium) {
    font-size: utility.rem(28);
  }

  /* Extend `.breakpoint()` in utility/_breakpoint.scss */
}

.menu__item {
  color: var(--primary-text);
  font-weight: 500;
  font-size: utility.rem(28);

  &:hover {
    color: var(--accent-color);

    padding-block-end: utility.rem(4.8);
  }
  @include utility.breakpoint(large) {
    font-size: utility.rem(20);
  }
  @include utility.breakpoint(x-large) {
    font-size: utility.rem(24);
  }
}

/* ******************* *\
#Menu Typography End
\* ******************* */

/* ******************* *\
#Projects Typography 
\* ******************* */
.project-section > .section__title {
  max-inline-size: utility.rem(250);
}

.project__sub-title {
  color: var(--btn-text);
  font-weight: 300;
  font-size: utility.rem(12);
  line-height: utility.rem(18);
  @include utility.breakpoint(large) {
    font-size: utility.rem(14);
  }
}

.project__title,
.section-link {
  font-weight: 500;
  font-size: utility.rem(18);
  line-height: utility.rem(27);
  @include utility.breakpoint(medium) {
    font-size: utility.rem(14);
    letter-spacing: utility.rem(-0.5);
  }
  @include utility.breakpoint(large) {
    font-size: utility.rem(20);
  }
  @include utility.breakpoint(x-large) {
    font-size: utility.rem(24);
  }
}

.section-link {
  color: var(--accent-color);

  transition: color 300ms ease-in-out;

  &:hover {
    color: var(--secondary-text);
  }
}

/* ******************* *\
#Projects Typography End
\* ******************* */
