@use "../utility";

html {
  box-sizing: border-box;
  margin: utility.rem(12);
  max-inline-size: utility.rem(900);
  margin-inline: auto;

  font-size: 100%; // for accessibility purpose
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
body,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
