// !Don't Use SCSS or SASS Variables, use the CSS Variables insted

:root {
  --primary-text: hsl(160deg, 2%, 31%);
  --secondary-text: hsl(160deg, 2%, 31%);
  --faded-text: hsl(0deg, 0%, 66%);
  --background-color: hsl(0deg, 0%, 90%);
}
