@use "../utility";

.super-container {
  max-inline-size: utility.rem(1440);

  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: 100%;
  margin-block-start: utility.rem(50);
}

/* ******************* *\
#Main 
\* ******************* */
.sub-title {
  margin-inline-start: 5%;

  min-inline-size: 95%;

  @include utility.breakpoint(medium) {
    margin-block-end: utility.rem(10);
  }
  @include utility.breakpoint(large) {
    margin-inline-start: 15%;
    min-inline-size: 85%;
  }
}

.big-title,
.another-title {
  margin-inline-start: 5%;
  margin-block: 0;
  inline-size: 95%;
  max-inline-size: utility.rem(280);
  @include utility.breakpoint(medium) {
    inline-size: utility.rem(350);
  }
  @include utility.breakpoint(large) {
    margin-inline-start: 15%;
    inline-size: 85%;

    max-inline-size: utility.rem(430);
  }
  @include utility.breakpoint(x-large) {
    max-inline-size: utility.rem(530);
  }
}

.another-title {
  max-inline-size: utility.rem(225);
  @include utility.breakpoint(medium) {
    inline-size: utility.rem(220);
  }
  @include utility.breakpoint(large) {
    margin-inline-start: 15%;
    inline-size: 85%;
    max-inline-size: utility.rem(330);
  }
  @include utility.breakpoint(x-large) {
    max-inline-size: utility.rem(350);
  }
}

.hero-img {
  inline-size: 100%;
  block-size: utility.rem(145);
  margin-block: utility.rem(28);

  border-radius: utility.rem(16);
  @include utility.breakpoint(large) {
    block-size: 100%;
    margin-block: utility.rem(40);
  }
}

.main-paragraph {
  margin-block-start: utility.rem(6);
  inline-size: 95%;
  margin-block-end: utility.rem(24);
  margin-inline-start: 5%;
  @include utility.breakpoint(medium) {
    inline-size: utility.rem(220);
  }
  @include utility.breakpoint(large) {
    margin-inline-start: 15%;
    inline-size: utility.rem(350);
  }
}

.contact-you {
  position: relative;
  margin-inline-start: 5%;
  inline-size: 95%;
  @include utility.breakpoint(medium) {
    inline-size: utility.rem(220);
  }
  @include utility.breakpoint(large) {
    inline-size: utility.rem(360);
    margin-inline-start: 15%;
  }
}

.contact-you__title {
  margin-block-end: utility.rem(16);
}

.contact-you__input {
  inline-size: 100%;

  padding: utility.rem(24);
  border: none;
  border-radius: utility.rem(14);

  background-color: var(--btn-bgcolor);
  outline: none;
  @include utility.breakpoint(medium) {
    padding: utility.rem(14);
  }
}

.contact-you__mini-btn {
  position: absolute;
  inset-block-start: utility.rem(36);
  inset-inline-end: utility.rem(4);

  padding: utility.rem(16) utility.rem(30);
  border-radius: utility.rem(10);

  background-color: var(--accent-color);
  @include utility.breakpoint(medium) {
    padding: utility.rem(6) utility.rem(30);
    inset-block-start: utility.rem(40);
  }
  @include utility.breakpoint(large) {
    padding: utility.rem(8) utility.rem(30);
    inset-block-start: utility.rem(37);
  }
}

/* ******************* *\
#Main End
\* ******************* */

/* ******************* *\
#Services 
\* ******************* */
.services {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  inline-size: 95%;
}

.section__title {
  margin-block: utility.rem(120);
  margin-inline-start: 5%;

  margin: 0;
  inline-size: 95%;
  max-inline-size: utility.rem(315);
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: utility.rem(24);
  align-items: flex-start;
  justify-content: flex-start;
  max-inline-size: utility.rem(1440);

  @include utility.breakpoint(large) {
    flex-direction: row;
    margin-inline: utility.rem(16);

    justify-content: space-between;
  }
  @include utility.breakpoint(x-large) {
    margin-inline: utility.rem(60);
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: utility.rem(32);
  align-items: flex-start;
  padding: utility.rem(36) utility.rem(24);
  border-radius: utility.rem(10);
  block-size: utility.rem(422);

  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;

  @include utility.breakpoint(large) {
    &:hover {
      transform: scale(1.1);
    }
  }

  &:hover {
    box-shadow: 0 0 utility.rem(0.8) rgba(0, 0, 0, 1.8%),
      0 0 utility.rem(3.3) rgba(0, 0, 0, 2.4%),
      0 0 utility.rem(8.2) rgba(0, 0, 0, 2.7%),
      0 0 utility.rem(16.5) rgba(0, 0, 0, 2.9%),
      0 0 utility.rem(30.4) rgba(0, 0, 0, 3.2%),
      0 0 utility.rem(55.7) rgba(0, 0, 0, 3.8%),
      0 0 utility.rem(133) rgba(0, 0, 0, 6%);
  }

  @include utility.breakpoint(medium) {
    inline-size: 100%;
  }
  @include utility.breakpoint(large) {
    block-size: 100%;

    max-inline-size: utility.rem(360);
  }
}

.card__icon {
  margin: 0;
  padding: utility.rem(14);
  border-radius: utility.rem(16);

  background-color: var(--accent-color);
}

.card__icon--green {
  background-color: var(--accent-color-3);
}

.card__icon--red {
  background-color: var(--accent-color-2);
}

.card__title {
  margin: 0;
}

.card__paragraph {
  margin: 0;
  inline-size: 80%;

  @include utility.breakpoint(medium) {
    inline-size: utility.rem(300);
  }
  @include utility.breakpoint(large) {
    inline-size: 80%;
  }
}

.card__btn {
  padding: utility.rem(8) utility.rem(12);
  border: none;
  border-radius: utility.rem(10);

  background-color: var(--btn-bgcolor);

  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

// This selection make the .card__btn change color with he hover of .card
.card:hover > .card__btn {
  color: var(--white-color);

  background-color: var(--accent-color);
}

/* ******************* *\
#Services  End
\* ******************* */

/* ******************* *\
#Project  
\* ******************* */
.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  inline-size: 95%;
}

.projects-container {
  @include utility.breakpoint(medium) {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    margin-inline-start: 5%;
  }
  @include utility.breakpoint(large) {
    gap: utility.rem(22);
    justify-content: space-around;
  }
}

// change size for .section__title inside project-section
.project-section > .section__title {
  margin-block-end: utility.rem(40);
  @include utility.breakpoint(medium) {
    max-inline-size: utility.rem(380);
    margin-block: utility.rem(120);
  }
}

.project {
  display: flex;
  flex-direction: column;
  margin-block-end: utility.rem(28);

  @include utility.breakpoint(medium) {
    inline-size: 47%;

    &:nth-child(2),
    &:nth-child(4) {
      transform: translateY(utility.rem(-120));
    }
  }
  @include utility.breakpoint(large) {
    inline-size: 47%;
  }
}

.section__img {
  inline-size: 100%;

  border-radius: utility.rem(24);
}

.project__sub-title {
  margin-block-start: utility.rem(24);
}

.section-link {
  @include utility.breakpoint(medium) {
    align-self: flex-end;
    margin-inline-end: 12%;
  }
}

/* ******************* *\
#project  End
\* ******************* */

/* ******************* *\
#team
\* ******************* */
.team {
  inline-size: 100%;
  margin-block: utility.rem(180);

  display: flex;
  flex-direction: column;
  gap: utility.rem(24);
  @include utility.breakpoint(large) {
    flex-direction: row;
    align-items: center;

    justify-content: space-around;
  }
}

.section__paragraph {
  max-inline-size: utility.rem(250);
}

.team__grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  gap: utility.rem(16);
  align-self: center;
  inline-size: 100%;
  @include utility.breakpoint(large) {
    inline-size: 50%;
  }
}

.team__person-1 {
  inline-size: 85%;
}

.team__person-1,
.team__person-2 {
  grid-column: 2;
}

.team__person-3 {
  grid-row: 2;
  grid-column: 1;
  justify-self: flex-end;

  transform: translateY(utility.rem(-120));

  transition: transform 300ms ease-in-out;

  @include utility.breakpoint-down(small) {
    transform: translateY(utility.rem(-80));
  }
  @include utility.breakpoint(large) {
    transform: translateY(utility.rem(-80));
  }
  @include utility.breakpoint(x-large) {
    transform: translateY(utility.rem(-120));
  }
}

/* ******************* *\
#team  End
\* ******************* */

/* ******************* *\
#client-reviews 
\* ******************* */
.client-reviews {
  display: flex;
  flex-direction: column;
  gap: utility.rem(32);
  align-items: center;
  inline-size: 95%;
  @include utility.breakpoint(medium) {
    align-items: flex-start;
    margin-block: utility.rem(250);
  }

  @include utility.breakpoint(large) {
    margin-inline-start: 5%;
  }
}

.client-reviews__review {
  margin: 0;
  inline-size: 100%;
  max-inline-size: utility.rem(351);

  @include utility.breakpoint(medium) {
    max-inline-size: utility.rem(620);
  }
}

.client-reviews__client-info {
  display: flex;
  gap: utility.rem(16);
  align-items: flex-start;
  align-self: flex-start;
}

.client-reviews__img {
  inline-size: 30%;
  max-inline-size: utility.rem(120);

  border-radius: utility.rem(16);
}

.client-reviews__name {
  margin-block: utility.rem(4);
  @include utility.breakpoint(large) {
    margin-block: utility.rem(10);
  }
}

.client-reviews__business {
  inline-size: 100%;
}

/* ******************* *\
#client-reviews  End
\* ******************* */

/* ******************* *\
#footer
\* ******************* */
.footer {
  margin-inline: utility.rem(-16);
  margin-block-end: utility.rem(-16);
  margin-block-start: utility.rem(80);

  background-color: var(--footer-bg);
}

.footer-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 0.1fr;

  row-gap: utility.rem(42);
  padding-block-start: utility.rem(32);
  margin-inline-start: utility.rem(38);
  @include utility.breakpoint(large) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer-nav {
  @include utility.breakpoint(large) {
    justify-self: center;
  }
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-self: center;
  inline-size: 100%;
  @include utility.breakpoint(large) {
    align-self: flex-start;
    justify-self: center;
  }
}

.social-container {
  display: flex;
  gap: utility.rem(10);
  align-items: center;
}

.footer__contact-you {
  margin: 0;
  margin-block-end: utility.rem(100);
}

.footer-contact__title {
  color: var(--white-color);
}

.footer__contact-btn {
  inset-block-start: utility.rem(36);
}

.footer__paragraph {
  text-align: center;
  inline-size: 100%;
  @include utility.breakpoint(large) {
    grid-column: 2/3;
    align-self: flex-end;
  }
}

/* ******************* *\
#footer  end
\* ******************* */
