@use "../utility";

/* ******************* *\
#Nav Bar
\* ******************* */
.header {
  /* Extend `Colors Variables` in utility/_colors.scss */
  background-color: var(--white-color);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @include utility.breakpoint(large) {
    /* Extend `.breakpoint()` in utility/_breakpoint.scss */

    flex-wrap: nowrap;
  }
}

.logo {
  border: utility.rem(1) solid hsl(0deg, 0%, 100%);

  /* Extend `.rem()` in utility/_function.scss */
}

// Opacity for Logo when active menu mobile
.logo--opacity {
  opacity: 0%;

  transition: opacity 250ms ease-in-out;

  @include utility.breakpoint(large) {
    opacity: 100%;
  }
}

.menu {
  position: absolute;
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: utility.rem(48);
  align-items: center;
  justify-content: flex-start;

  margin: 0 auto;

  overflow: hidden;

  background-color: var(--white-color);
  opacity: 0%;

  transition: all 250ms cubic-bezier(0, 0.67, 0.4, 1);
  inset-block-start: utility.rem(64);
  inset-inline: -100% 100%;
  block-size: 92%;
  padding-block-end: utility.rem(26);

  @include utility.breakpoint(large) {
    position: static;
    z-index: 0;

    flex-direction: row;
    margin: 0;
    overflow: visible;

    opacity: 100%;
    inset-block-start: utility.rem(0);
    padding-block-end: utility.rem(0);
  }
}

.menu__item--active-page {
  padding-block-end: utility.rem(4.8);
}

.menu__item {
  transition: color 250ms ease-in-out;
}

.menu--active {
  inset-block-start: utility.rem(64);
  inset-inline: 0;

  opacity: 100%;
}

/* ******************* *\
#Nav Bar End
\* ******************* */
