html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: 100%; // for accessibility purpose
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;

  color: hsl(0deg, 0%, 100%);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
